<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <p>Table of contents</p>
        <form action='/Content' method='post'>
            <input type='submit' value='Download Sites Content'/>
        </form>
    </body>
</html>